.mat-icon {
    height: 78px !important;
    width: 78px !important;
    font-size: 78px !important;
}

.mat-raised-button {
    height: 400px;
    width: 800px !important;
    min-width: unset !important;
    font-size: 30px;
}

/* .welcome-text {

} */

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}