<br>

<mat-divider></mat-divider>

<br>

<!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <mat-card class="example-card" fxFlex="25">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" fxFlex="25">
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div> -->





<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" routerLink="/scopes">
        <mat-icon>track_changes</mat-icon>
        Scope Emissions
    </button>
    <button mat-raised-button color="accent" routerLink="/targets"
        *ngIf="account.tier === 'Silver' || account.tier === 'Gold'">
        <mat-icon>assignment_turned_in</mat-icon>
        Target-Setting
    </button>
    <button mat-raised-button *ngIf="account.tier === 'Gold'">
        <mat-icon>trending_up</mat-icon>
        Risk Models
    </button>
</div>