<h1> Scopes </h1>

<mat-divider></mat-divider>

<div fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" routerLink="/dashboard">
        <mat-icon></mat-icon>
        Scope 1
    </button>
    <button mat-raised-button color="accent" routerLink="/scope-two">
        <mat-icon></mat-icon>
        Scope 2
    </button>
    <button mat-raised-button routerLink="/scope-three">
        <mat-icon></mat-icon>
        Scope 3
    </button>
</div>