<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>Reset Password</mat-card-title>
            <mat-card-subtitle>Enter your email</mat-card-subtitle>
            <mat-card-content>

                <div *ngIf="tokenStatus == TokenStatus.Validating">
                    Validating token....
                </div>

                <div *ngIf="tokenStatus == TokenStatus.Invalid">
                    Token validation failed, if the token has expired you can get a new one at the <a
                        routerLink="/auth/forgot-password">forgot password</a> page
                </div>


                <div *ngIf="tokenStatus == TokenStatus.Valid">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>New password</mat-label>
                        <input formControlName="password" type="text" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Confirm new password</mat-label>
                        <input formControlName="confirmPassword" type="text" matInput>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button type="submit" color="primary" [disabled]="loading">
                    Submit
                </button>
                <button mat-button type="button" routerLink="/auth/login">
                    Cancel
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>