.mat-icon {
    height: 78px !important;
    width: 78px !important;
    font-size: 78px !important;
}

.mat-raised-button {
    height: 200px;
    width: 1000px !important;
    min-width: unset !important;
    font-size: 30px;
}

.example-card {
    max-width: 400px;
}