<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{account.firstName}} {{account.lastName}}</h2>
            <h4>{{account.email}}</h4>
        </div>
        <img src="https://pbs.twimg.com/profile_images/1364318632474468353/ug9CObfD_400x400.png"
            alt="Track Carbon Logo">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <button mat-list-item [matMenuTriggerFor]="scope">
        <mat-icon>track_changes</mat-icon>
        Scope Emissions
    </button>
    <mat-menu #scope="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/dashboard">Scope 1</button>
        <button mat-menu-item routerLink="/scope-two">Scope 2</button>
        <button mat-menu-item routerLink="/scope-three">Scope 3</button>
    </mat-menu>

    <button mat-list-item [matMenuTriggerFor]="targets" *ngIf="account.tier === 'Silver' || account.tier === 'Gold'">
        <mat-icon>assignment_turned_in</mat-icon>
        Target-Setting
    </button>
    <mat-menu #targets="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/target-one">Intensity Targets</button>
        <button mat-menu-item routerLink="/target-two">Absolute Targets</button>
    </mat-menu>

    <button mat-list-item [matMenuTriggerFor]="afterMenu" *ngIf="account.tier === 'Gold'">
        <mat-icon>trending_up</mat-icon>
        Risk Models
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>




    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
        <mat-icon>contact_phone</mat-icon>
        Profile
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>import_contacts</mat-icon>
        Export Data
    </a>



</mat-nav-list>