<mat-toolbar color="primary">
    <mat-toolbar-row>

        <span>Add logo</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="logout()" mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            <a>Sign out</a>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <!-- <h2>Hi {{account.firstName}}</h2> -->

                <mat-card-actions>
                    <button mat-raised-button type="button" color="primary" routerLink="/admin/edit">
                        Add Account
                    </button>
                </mat-card-actions>

                <table mat-table [dataSource]="accounts" class="mat-elevation-z8">

                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let account"> {{account.firstName}} {{account.lastName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let account"> {{account.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef>Role</th>
                        <td mat-cell *matCellDef="let account"> {{account.role}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tier">
                        <th mat-header-cell *matHeaderCellDef>Tier</th>
                        <td mat-cell *matCellDef="let account"> {{account.tier}} </td>
                    </ng-container>

                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>Company</th>
                        <td mat-cell *matCellDef="let account"> {{account.company}} </td>
                    </ng-container>


                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let account">
                            <section>
                                <div class="button-row">
                                    <button mat-raised-button color="primary" style="margin-right:10px"
                                        routerLink="edit/{{account.id}}">
                                        Edit
                                    </button>
                                    <button mat-raised-button color="warn" (click)="deleteAccount(account.id)"
                                        [disabled]="account.isDeleting">
                                        Delete
                                    </button>
                                </div>
                            </section>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<app-footer></app-footer>