<mat-toolbar color="primary">
    <mat-toolbar-row>

        <span><img class="resize" src="/assets\images\track Carbon Logo white.png" alt="TrackCarbon"></span>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="center none">
    <div fxFlex="100%">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card>
                <mat-card-title *ngIf="isAddMode">Create Account</mat-card-title>
                <mat-card-title *ngIf="!isAddMode">Edit Account</mat-card-title>
                <mat-card-content>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input formControlName="firstName" type="text" matInput>
                    </mat-form-field>


                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="lastName" type="text" matInput>
                    </mat-form-field>

                    <table>
                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" type="email" matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="role" matInput>
                                    <mat-option *ngFor="let role of roles" [value]="role.value">
                                        {{role.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </table>

                    <table>
                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Company</mat-label>
                                <input formControlName="company" type="text" matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Tier</mat-label>
                                <mat-select formControlName="tier" matInput>
                                    <mat-option *ngFor="let tier of tiers" [value]="tier.value">
                                        {{tier.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </table>

                    <div *ngIf="!isAddMode">
                        <h3>Change Password</h3>
                        <p>Leave blank to keep the same password</p>
                    </div>

                    <table>
                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" type="password" matInput>
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Confirm Password</mat-label>
                                <input formControlName="confirmPassword" type="password" matInput>
                            </mat-form-field>
                        </td>
                    </table>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button type="submit" color="primary" [disabled]="loading"
                        style="margin-right:10px">Submit</button>
                    <button mat-raised-button type="button" routerLink="/admin"
                        style="margin-right:40px">Cancel</button>
                    <button mat-raised-button *ngIf="!isAddMode" type="button" color="warn"
                        (click)="deleteAccount()">Delete</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>

<app-footer></app-footer>